<section id="aboutPageSection" class="bg-gray-50 dark:bg-gray-900 sm:p-5">
  <div class="mx-auto max-w-screen-xl lg:px-12">
    <!-- Start coding here -->
    <div class="relative bg-white shadow-md dark:bg-gray-800 sm:rounded-lg">
      <div class="mx-2">
        <div class="flex flex-col justify-between space-y-3 py-2 md:flex-row md:space-x-4 md:space-y-0">
          <article id="aboutPageArticle" class="prose lg:prose-xl">
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
