<h1 id="help">HELP</h1>
<p>The help documentation has been organised into questions &amp; answers for the purpose of brevity. The following answers should be sufficient to address 80% of the core features.</p>
<h2 id="1-how-to-play-read-a-sutta-">1. How to play/read a sutta?</h2>
<p>A sutta can be played or read by:</p>
<ol>
<li>Direct URL browser request 
<img src="./img/help/browser-addr-bar-url.png" alt="browser addr bar url"><ol>
<li>Enter the URL in the browser&#39;s address bar and press enter</li>
</ol>
</li>
<li>Goto URL in system clipboard
<img src="./img/help/goto-url-in-clipboard.png" alt="goto url in clipboard"><ol>
<li>Ensure the URL is copied into the system clipboard</li>
<li>Click on the Share button (3 connected circles icon)</li>
<li>Click on the Goto URL in system clipboard menu item</li>
</ol>
</li>
<li><p>Making a track selection from any one of the following originating lists within the App:</p>
<ol>
<li>Catalog list 
<img src="./img/help/catalog-list-row.png" alt="catalog list row"></li>
<li>Search results list
<img src="./img/help/search-list-row.png" alt="search list row"></li>
<li><p>Playlist list
<img src="./img/help/playlist-list-row.png" alt="playlist list row"></p>
</li>
<li><p>Click the mouse (or tap) a blue sutta link reference in a list row. This will:</p>
<ol>
<li>Mount the origin list into the player for previous/next navigation within a playlist. An origin list badge denoting &#39;C&#39; for Catalog, &#39;S&#39; for Search and &#39;P&#39; for Playlist will be displayed beside the Play/Pause button in the top control bar  </li>
<li>Load the nominated audio into the player for immediate play if auto play is toggled &quot;on&quot;</li>
<li>Display the sutta text in the Reader view</li>
</ol>
</li>
</ol>
</li>
</ol>
<h2 id="2-where-are-the-reader-catalog-search-playlist-page-view-tabs-">2. Where are the Reader, Catalog, Search &amp; Playlist page view tabs?</h2>
<p>The suttaplayer app has a responsive user interface design which adjusts itself for different platforms, orientations and screen resolutions. On smaller (typically mobile) devices, the side menu can be expanded/collapsed via the side-menu toggle button. </p>
<ol>
<li>Click on the side-menu toggle button (3 horizontal bars icon) in the top control bar to reveal the navigation bar in the app
<img src="./img/help/side-menu-nav-bar.png" alt="side-menu-nav-bar"></li>
</ol>
<h2 id="3-how-to-stop-start-the-audio-from-automatically-playing-when-a-track-is-loaded-">3. How to stop/start the audio from automatically playing when a track is loaded?</h2>
<p><img src="./img/help/auto-play-play-next.png" alt="auto-play-play-next"></p>
<ol>
<li>Click the Audio button (speaker icon) in the top control bar to display the audio drop-down panel</li>
<li>Toggle the Auto play button in the 4th row of the audio drop-down panel to switch on/off the audio Auto play feature</li>
</ol>
<p><strong>Note:</strong> Audio will be auto played when the Auto play button is toggled &quot;on&quot; and under any of the following scenarios:</p>
<ol>
<li>Via Browser&#39;s URL address bar<ol>
<li>When the app [running in a browser tab] is already loaded and has been interacted with [subject to browser permission policy]</li>
<li>The user enters a suttaplayer sutta URL reference into the browser&#39;s address bar and initiates a HTTP request</li>
</ol>
</li>
<li>Via Goto URL <ol>
<li>The user clicks the Share button (3 connected-circles icon) on the top control bar to display the share drop-down panel</li>
<li>Click on the Goto URL in system clipboard menu item</li>
</ol>
</li>
<li>Via the Catalog list, Search results list, or Playlist list<ol>
<li>The user clicks on a blue sutta link reference in a table row from a nominated list</li>
</ol>
</li>
<li>Via the audio player detecting a follow-on track &amp; when Play next is toggled &quot;on&quot;<ol>
<li>The currently playing audio track reaches it&#39;s stop point</li>
<li>The next queued track gets loaded and played</li>
</ol>
</li>
<li>Via the previous/nxt audio controls &amp; when the Play next button is toggled &quot;on&quot; <ol>
<li>The user nominates to skip backward by clicking the previous track button, or skip forward by clicking the next track button. The previous and next buttons are found on the top control bar on either side of the Play/Pause button</li>
</ol>
</li>
</ol>
<h2 id="4-how-to-select-a-random-sutta-">4. How to select a random sutta?</h2>
<p><img src="./img/help/select-random-sutta.png" alt="select-random-sutta"></p>
<ol>
<li>Navigate to the Catalog view</li>
<li>Cick on the blue Actions Button (3 vertical dots icon) to display the actions drop-down panel</li>
<li>Click on the Select random sutta menu item and a sutta will be scrolled into view with a blue active selection indicator to the left side of the row</li>
</ol>
<h2 id="5-how-to-find-a-known-sutta-in-the-catalog-view-">5. How to find a known sutta in the Catalog view?</h2>
<p>There are approx 1350 suttas in the entire catalog. To make navigation managable, these suttas are organised alphabetically into the following albums:</p>
<table>
<thead>
<tr>
<th>Album name</th>
<th>Catagory</th>
</tr>
</thead>
<tbody>
<tr>
<td>Aṅguttara Nikāya</td>
<td>The Numerical Collection</td>
</tr>
<tr>
<td>Dhammapada</td>
<td></td>
</tr>
<tr>
<td>Dīgha Nikāya</td>
<td>The Long Collection</td>
</tr>
<tr>
<td>Itivuttaka</td>
<td>This was said by the Buddha</td>
</tr>
<tr>
<td>Khuddakapāṭha</td>
<td>Short Passages</td>
</tr>
<tr>
<td>Majjhima Nikāya</td>
<td>The Middle Collection</td>
</tr>
<tr>
<td>Saṁyutta Nikāya</td>
<td>The Connected Collection</td>
</tr>
<tr>
<td>Sutta Nipāta</td>
<td>The Discourse Group</td>
</tr>
<tr>
<td>Theragāthā</td>
<td>Poems of the Elder Monks</td>
</tr>
<tr>
<td>Therīgāthā</td>
<td>Poems of the Elder Nuns</td>
</tr>
<tr>
<td>Udāna</td>
<td>Exclamations</td>
</tr>
</tbody>
</table>
<p><img src="./img/help/catalog-album-selection.png" alt="catalog-album-selection"></p>
<p>The Catalog view will display only the tracks from the selected album at any one time.</p>
<ol>
<li>Navigate to the Catalog view</li>
<li>Click on the album selection drop-down list at the top of the page just below the top control bar</li>
<li>Nominate the album to open and all the Album tracks will get displayed as rows in the table below</li>
</ol>
<h2 id="6-how-to-search-content-for-a-sutta-in-the-search-view-">6. How to search content for a sutta in the Search view?</h2>
<p>On the first app load, approx 1350 sutta text documents (9MB) will get downloaded to the device to enable the app to fully function offline. This sutta content can be searched using the Search view.</p>
<p>There are two types of search: 1. Basic &amp; 2. Advanced. The key difference is that Advanced searches use a regular expression as the search criteria entered in the Search criteria text box and must explicitly specify to ignore case &amp; diacritics.</p>
<ol>
<li><p>Basic search uses the following default settings:</p>
<ol>
<li>Case insensitive allows one, for example, to enter Buddha or buddha in the search criteria and all subsequent text  matching will be processed in lowercase</li>
<li>Diacritics are ignored which allows one to enter Sāriputta or Sariputta and all subsequent text matching will be processed using only the standard character set:<ul>
<li>DIACRITICS Characters = [&quot;ā&quot;, &quot;ī&quot;, &quot;ū&quot;, &quot;ṁ&quot;, &quot;ṃ&quot;, &quot;ṇ&quot;, &quot;ṅ&quot;, &quot;ñ&quot;, &quot;ṣ&quot;, &quot;ṭ&quot;, &quot;ḍ&quot;, &quot;ḷ&quot;, &quot;ḥ&quot;]</li>
<li>STANDARD Characters    = [&quot;a&quot;, &quot;i&quot;, &quot;u&quot;, &quot;m&quot;, &quot;m&quot;, &quot;n&quot;, &quot;n&quot;, &quot;n&quot;, &quot;s&quot;, &quot;t&quot;, &quot;d&quot;, &quot;l&quot;, &quot;h&quot;]</li>
</ul>
</li>
<li>&quot;And&quot; specifiers honour the settings in the expanded search criteria drop-down panel </li>
</ol>
</li>
<li><p>Advanced search uses regular expression:</p>
<ol>
<li>Case insensitivity must be explicitly specified using the &quot;i&quot; regEx flag</li>
<li>Diacritics will only get ignored if a custom &quot;D&quot; regEx flag is explicitly specified</li>
<li>The &quot;And&quot; specifiers in the expanded search criteria drop-down panel are ignored</li>
<li>Regular expressions are entered in the following format:<ul>
<li>/&lt;regEx-specifier&gt;/[&lt;regEx-flags&gt;]</li>
</ul>
</li>
</ol>
</li>
<li><p>Navigate to the Search view</p>
</li>
<li>Click All to toggle &quot;on&quot; searching the entire catalog (ie. all albums)</li>
<li>Select the start searching with Album beside the All toggle button. This selection is valid even when searching the entire catalog because it offers a quicker abort option when the desired reference(s) have already been found</li>
<li>Click the expand criteria button (down arrow icon) beside the search criteria text box and take note of the &quot;and&quot; settings. The &quot;and&quot; drop-down panel is essential in order to find suttas where the text body includes references to term X and term Y and term Z</li>
<li>Enter the search criteria in the search criteria text box</li>
<li>Click the search button (search icon) to initiate the search. <ol>
<li>Search progress, pause &amp; abort options will get displayed in the actions drop-down panel</li>
<li>Search results will be displayed as rows in the table that match the search criteria</li>
</ol>
</li>
</ol>
<h3 id="eg-basic-multi-term-search">Eg. Basic multi-term search</h3>
<p>Suppose one heard about a sutta where the Buddha and Venerable Sariputta discusss the causality of trade. To search for such a sutta consider using the following steps:</p>
<p><img src="./img/help/basic-search.png" alt="basic-search"></p>
<ol>
<li>Navigate to the Search view</li>
<li>Click All to toggle &quot;on&quot; searching all albums</li>
<li>Select Aṅguttara Nikāya as the start searching with Album option</li>
<li>Click the expand criteria button (down arrow icon) beside the Search criteria text box and ensure:<ol>
<li>Apply &quot;and&quot; between terms is toggled &quot;on&quot;</li>
<li>&quot;;&quot; is set as the &quot;and&quot; delimiter</li>
</ol>
</li>
<li>Enter sariputta;trade;failure in the Search criteria text box</li>
<li>Click the blue Search button (search icon) beside the Search criteria text box<ul>
<li>This should result in 19 results in 1 file(s)</li>
</ul>
</li>
</ol>
<p><img src="./img/help/basic-search-results.png" alt="basic-search-results"></p>
<h3 id="eg-advanced-regular-expression-search">Eg. Advanced regular expression search</h3>
<p>Suppose one heard about a sutta where the Buddha encouraged the monks to learn from Venerable Sāriputta &amp; Venerable Moggallāna. The find this sutta consider searching for where sariputta and moggallana occur within 10 words of one another using the following steps:</p>
<p><img src="./img/help/advanced-search.png" alt="advanced-search"></p>
<ol>
<li>Navigate to the Search view</li>
<li>Click All to toggle &quot;on&quot; searching all albums</li>
<li>Select Aṅguttara Nikāya as the starting searching with option</li>
<li>Enter /(sariputta( [^ ]*){1,10} moggallana)/gmiD in the Search criteria text box</li>
<li>Click the blue Search button (search icon) beside the Search criteria text box<ul>
<li>This should result in 26 results in 7 file(s)</li>
</ul>
</li>
</ol>
<p><img src="./img/help/advanced-search-results.png" alt="advanced-search-results"></p>
<h2 id="7-how-to-create-a-playlist-of-suttas-in-the-playlist-view-">7. How to create a playlist of suttas in the Playlist view?</h2>
<p>Playlists are arbitrary collections of sutta tracks, or perhaps just different sections from the same sutta track. </p>
<h3 id="creation">Creation</h3>
<p><img src="./img/help/new-playlist.png" alt="new-playlist"></p>
<ol>
<li>Navigate to the Playlist view</li>
<li>Click the playlists selection drop-down to list all existing playlists</li>
<li>Select the first option titled &quot;New playlist&quot;</li>
<li>Click on the text box beside the selection box to change the text to the preferred playlist name</li>
<li>Click the Save button (disk icon) to save the newly named playlist</li>
</ol>
<h3 id="population">Population</h3>
<p>The simplest way to populate playlists are to first source tracks of interest from either the Catalog, Search results or even other Playlists using the Copy selections menu item from the blue Actions button (3 vertical dots icon) on any of the aforementioned pages.</p>
<p><img src="./img/help/catalog-copy-selections.png" alt="catalog-copy-selections"></p>
<ul>
<li>Catalog/Search results/Playlist<ol>
<li>Navigate to the view</li>
<li>Click one-or-more checkboxes beside the track of interest to ensure that it now displays as checked</li>
<li>Click on the blue Actions button (3 vertical dots) to display the actions drop-down panel</li>
<li>Click the Copy selections (copy icon) menu item</li>
<li><strong>Navigate back</strong> to the newly created playlist outlined in the Creation section above</li>
<li>Click on the blue Actions button (3 vertical dots) to display the actions drop-drown panel</li>
<li>Click the Paste copied selections (paste icon) menu item and the track references will now be duplicated into the playlist and displayed</li>
</ol>
</li>
</ul>
<p><img src="./img/help/playlist-paste-copied-selections.png" alt="playlist-paste-copied-selections"></p>
<h2 id="8-some-lists-are-too-large-and-it-s-very-difficult-to-find-suttas">8. Some lists are too large and it&#39;s very difficult to find suttas</h2>
<p>Indeed. There are over 400 sutta tracks in Saṁyutta Nikāya (aka SN) alone which can make finding difficult. Therefore, on every view page that has a table of tracks, finding is supported via 1. Find in page, &amp; 2. Filtering track attributes: </p>
<ol>
<li><p>Find in page
<img src="./img/help/find-text-in-page.png" alt="find-text-in-page"></p>
<ol>
<li>Click the Text button (T icon) from the top control bar to display the Text drop-down panel</li>
<li>Enter the text in the Find in page edit box and click the search button</li>
<li>Continue clicking the search button to jump to the next occurance of that text in the page until it gets to the last</li>
</ol>
</li>
<li><p>Filter the track attributes
<img src="./img/help/catalog-filtering.png" alt="catalog-filtering"></p>
<ol>
<li>Click the blue Filter button (filter icon) to display a filter drop-down panel</li>
<li>Enter the filter criteria by:<ol>
<li>Entering title text and clicking the Search button (search icon)</li>
<li>Toggling zero or more track durations</li>
<li>Toggling zero or more cache status (ie. was audio downloaded)</li>
</ol>
</li>
<li>The table rows are automatically updated to reflect only those matching the filter criteria</li>
</ol>
</li>
</ol>
<h2 id="9-why-do-sutta-references-indicate-uncached-audio-red-dot-even-after-listening-to-the-audio-">9. Why do sutta references indicate uncached audio (red dot) even after listening to the audio?</h2>
<p>A green or red dot indicator is displayed beside every sutta reference across all views</p>
<ul>
<li>Green indicates that the sutta has been cached via the offline feature</li>
<li>Red indicates that the sutta (even if listened to in full repeatedly) has not been <strong>explicitly</strong> downloaded via the offline feature</li>
</ul>
<p>Audio and video content are treated differently to other content accessed over the internet due to size, segmentation and buffering issues. Such resources are streamed, and thus only partial content is registered as being received by browsers. Hence, the only way to ensure that the audio is available offline is to have the sutta audio downloaded via the offline feature.</p>
<h2 id="10-how-to-download-the-sutta-tracks-of-interest-">10. How to download the sutta tracks of interest?</h2>
<p><img src="./img/help/download-selections.png" alt="download-selections"></p>
<p>Applicable for Catalog/Search results/Playlist:</p>
<ol>
<li>Navigate to a list view</li>
<li>Click one-or-more checkboxes beside the track of interest to ensure that it now displays as checked. Note, if one wants to (de)/select all, then click on the checkbox in the table header column </li>
<li>Click on the Offline button (no-cloud icon) from the top control bar to display the offline drop-down panel</li>
<li>Click the Download selections (down arrow icon) menu item and the nominated tracks will start downloading indicating progress with each download</li>
<li>On completion those selection that were checked for download will appear with a green indicator beside them indicating that will be available even when the device is offline</li>
</ol>
<p><img src="./img/help/downloaded-selections.png" alt="downloaded-selections"></p>
<p><em>Beware:</em> There are approx 1350 suttas and if all of them were downloaded they would consume a total of 3GB of disk space. </p>
<p>The following table gives an Album audio size summary:</p>
<table>
<thead>
<tr>
<th>Name</th>
<th>Size</th>
</tr>
</thead>
<tbody>
<tr>
<td>Aṅguttara Nikāya</td>
<td>690MB</td>
</tr>
<tr>
<td>Dhammapada</td>
<td>35MB</td>
</tr>
<tr>
<td>DīghaNikāya</td>
<td>378MB</td>
</tr>
<tr>
<td>Itivuttaka</td>
<td>62MB</td>
</tr>
<tr>
<td>Khuddakapāṭha</td>
<td>9MB</td>
</tr>
<tr>
<td>MajjhimaNikāya</td>
<td>836MB</td>
</tr>
<tr>
<td>SaṁyuttaNikāya</td>
<td>641MB</td>
</tr>
<tr>
<td>SuttaNipāta</td>
<td>132MB</td>
</tr>
<tr>
<td>Theragāthā</td>
<td>40MB</td>
</tr>
<tr>
<td>Therīgāthā</td>
<td>21MB</td>
</tr>
<tr>
<td>Udāna</td>
<td>113MB</td>
</tr>
</tbody>
</table>
<p>As a rule-of-thumb, look at the duration of a given sutta and halve it to estimate it&#39;s size in MB.</p>
<h2 id="11-how-to-create-a-bookmark-with-line-highlighting-text-marked-up-start-from-line-number-and-start-stop-audio-markers-">11. How to create a bookmark with line highlighting, text marked up, start from line number and start/stop audio markers?</h2>
<p>Many sutta&#39;s have a lot of redundancy built into them by design. Sharing a bookmark link of a specific passage with others can be cumbersome. Even for one&#39;s reference purposes it would beneficial if entire lines could be highlighted, phrases/words marked up, a specific line immediately scrolled to upon sutta load, or even just a specific segment of audio played. These are the key features that are all available when in the Reader view.</p>
<ol>
<li><p>Navigate to the Reader view with the nominated sutta displayed:</p>
<ul>
<li><p>The sutta text body is displayed in the main section of the page with a gutter section to the left dedicated for line numbers. Each line from the sutta will display beside its associated line number. Note, lines will wrap dependent on the device&#39;s screen resolution; on mobile devices, expect lines to appear wrapped like paragraphs.
<img src="./img/help/reader-page.png" alt="reader-page"></p>
</li>
<li><p>The sutta audio is displayed and managed via the Audio button (speaker icon) from the top control bar. Although, this drop-down panel is accessible under any page view, it is critical to specifying audio segment of interest. The first three rows all play a role for marking up an audio segment:
<img src="./img/help/bookmarking-audio.png" alt="bookmarking-audio"></p>
<ol>
<li>1st row - audio play head used to navigate time within the track</li>
<li>2nd row - skip forward/backward in nominated increments for accurate play head positioning</li>
<li>3nd row - Start &amp; Stop buttons separated by &#39;/&#39; with time markers (in secs) to demark audio segments  </li>
</ol>
</li>
</ul>
</li>
<li><p>Line highlighting
  <img src="./img/help/bookmark-line-highlighting.png" alt="bookmark-line-highlighting"></p>
<ol>
<li>Scroll to the desired line location</li>
<li>Click on the line number in the gutter section and the entire line will get highlighted</li>
</ol>
</li>
<li><p>Text markup
  <img src="./img/help/bookmark-text-selection.png" alt="bookmark-text-selection"></p>
<ol>
<li>Scroll to the desired segment of interest within the text body</li>
<li>Click on the start of the word, and without releasing the mouse, drag the highlight cursor to the end of the word in the segment of interest and then release the mouse (or touch on mobile). In a desktop environment the segment of text will immediately be marked up; on mobile the segment will be marked up after a 3 second delay.
<img src="./img/help/bookmark-text-markup.png" alt="bookmark-text-markup"></li>
</ol>
</li>
<li><p>Start from line number
<img src="./img/help/bookmark-startfrom-positioning.png" alt="bookmark-startfrom-positioning"></p>
<ol>
<li>Scroll to the desired line location</li>
<li>Double click on the line number in the gutter section and the line&#39;s row will be marked with a blue active indicator
<img src="./img/help/bookmark-startfrom-highlight.png" alt="bookmark-startfrom-highlight"></li>
</ol>
</li>
</ol>
<ul>
<li><p>Start/stop audio marker
  <img src="./img/help/bookmark-audio-selection.png" alt="bookmark-audio-selection"></p>
<ol>
<li>Click on the Audio button (speaker icon) in the top control bar
to display the audio drop-down panel</li>
<li>Using the audio control in row 1, drag the play head to close to the desired location</li>
<li>Using the skip forward/back and the time entry box in row 2, fine-tune to the exact start position within the audio</li>
<li>[Start] Click on the left time button in row 3 and the marked audio position from row 2 will now be registered as the marked audio start time. Press the same button again to </li>
<li>[Stop] Click on the right time button in row 3 and the marked audio position from row 2 will now be registered as the marked audio stop time </li>
</ol>
</li>
<li><p>Any accidental bookmark markings can be undone by using the browser&#39;s or app&#39;s back button/gesture. With each individual marking change the brower&#39;s or app&#39;s URL is updated</p>
</li>
</ul>
<h2 id="12-how-to-share-a-configured-bookmark-with-others-">12. How to share a configured bookmark with others?</h2>
<p>Having followed the instructions outlined in Question 11 above:</p>
<ol>
<li>[In Browser] 
 <img src="./img/help/browser-copy-url.png" alt="browser-copy-url"><ol>
<li>Click in the browser&#39;s address bar and highlight the entire URL</li>
<li>Use the operating system&#39;s Copy into clipboard feature (eg. Ctrl+C in Microsoft Windows)</li>
</ol>
</li>
<li>[In App] 
 <img src="./img/help/app-copy-url-to-clipboard.png" alt="app-copy-url-to-clipboard"><ol>
<li>Click on the Share button (3 connected-circles icon) from the top control bar to display the share drop-down panel</li>
<li>Click on Copy URL to clipboard</li>
</ol>
</li>
</ol>
<p><strong>Note:</strong> The in App procedure will produce a URL with the parameter &quot;&amp;olo=1&quot; appended to the end. &quot;olo=1&quot; signifies OnLine-Only as true and when used as an initial load in the browser, it will avoid downloading the 9MB of sutta text files. </p>
<h2 id="13-how-to-add-a-configured-bookmark-to-a-playlist-">13. How to add a configured bookmark to a playlist?</h2>
<p><img src="./img/help/copy-bookmark-forplaylist-paste.png" alt="copy-bookmark-forplaylist-paste"></p>
<ol>
<li>Follow the instructions outlined in Question 11 above</li>
<li>Click on the blue Actions button (3 vertical dots) to display the Reader&#39;s actions drop-down panel</li>
<li>Click the Copy bookmark for playlist paste menu item</li>
<li>Navigate the Playlist view</li>
<li>Select the nominated playlist from the list of playlists</li>
<li>Click on the blue Actions button (3 vertical dots) to display the Playlist&#39;s actions drop-down panel</li>
<li>Click Paste copied selections<br><img src="./img/help/paste-copied-selections.png" alt="paste-copied-selections.png"></li>
</ol>
<h2 id="14-how-to-get-the-audio-and-the-text-in-the-reader-view-to-sync-while-playing-">14. How to get the audio and the text in the Reader view to sync while playing?</h2>
<p><strong>Note:</strong>, Maintaining a permanent sync between the text and the audio is not always desirable. On occasions there arises the desire to briefly revisit some text that was just heard by scrolling the page whilst letting the audio continue playing. Therefore, this feature can be toggled on and off in such instances.</p>
<p><img src="./img/help/auto-scroll-text-with-audio.png" alt="auto-scroll-text-with-audio"></p>
<ol>
<li>Navigate to the Reader view</li>
<li>Click on the blue Actions button (3 vertical dots) to display the actions drop-down panel</li>
<li>[Enable] Click the Auto scroll text with audio button to toggle &quot;on&quot;<ol>
<li>Every 3 seconds the approximate sutta text should display should get scrolled and centered into position</li>
</ol>
</li>
<li>[Disable] Click the Auto scroll text with audio button to toggle &quot;off&quot; </li>
</ol>
<h2 id="15-how-to-get-the-audio-to-approximately-skip-to-the-a-position-of-interest-within-the-text-">15. How to get the audio to approximately skip to the a position of interest within the text?</h2>
<p><img src="./img/help/cursor-position-marked-for-audio-sync.png" alt="cursor-position-marked-for-audio-sync"></p>
<ol>
<li>Navigate to the Reader view</li>
<li>Click the Pause button (pause icon) from the top control bar to avoid auto scroll interference</li>
<li>Scroll the sutta text to the location of interest</li>
<li>Click the mouse (or tap) in a letter in a position of interest and a information message will appear indicating that the cursor position was marked for audio sync. Note, on mobile, wait for 3 seconds before the information message to appear</li>
<li>Click on the blue Actions (3 vertical dots) button to display the actions drop-down panel</li>
<li>Click the Sync audio to cursor text position and the play head will move to an approximate position</li>
<li>Click the Play button (play icon) from the top control bar to continue playing audio</li>
</ol>
<p><img src="./img/help/sync-audio-to-cursor-text-position.png" alt="sync-audio-to-cursor-text-position"></p>
<h2 id="16-how-to-share-a-playlist-with-others-">16. How to share a playlist with others?</h2>
<p>Sharing a playlists with others or between devices is achieved through transfer via 1. Clipboard, &amp; 2. File system.</p>
<p><img src="./img/help/set-transfer-source-to-clipboard.png" alt="set-transfer-source-to-clipboard"></p>
<ol>
<li>Click on the Share button (3 connected circles icon)</li>
<li>Click on the Transfer down-down list to select from either the clipboard or file </li>
<li>Navigate to the Playlist view</li>
<li>Click on the red Safety button (hard-hat icon) to display the safety drop-down panel</li>
<li>Click the Export current playlist menu item</li>
<li>Open email/message/social etc. and paste the contents from the clipboard</li>
</ol>
<p><img src="./img/help/export-current-playlist.png" alt="export-current-playlist"></p>
