<p><img src="./img/suttaplayer.svg" alt="Application image"></p>
<h1 id="sutta-player">Sutta Player</h1>
<p>Sutta player is a combined text/audio media player with the purpose of helping you lend ear, visit and grow close to the true Dhamma. The design principles are to ensure that there is:</p>
<ul>
<li>Nothing missing (ie. critical features)</li>
<li>Nothing in excess (ie. commentary) </li>
</ul>
<p>All sutta texts are translated by Ajaan Geoff (Ṭhānissaro Bhikkhu) and are sourced from <a href="https://dhammatalks.org/suttas">https://dhammatalks.org/suttas</a> under the <a href="https://creativecommons.org/licenses/by-nc/4.0/">https://creativecommons.org/licenses/by-nc/4.0/</a> license. The changes made to the original content were the removal of introduction, notes, footnotes &amp; see also sections among other minor corrections.</p>
<p>An AI text-to-speech model was trained using machine learning for synthesising both English and Pali (Sri-Lankan pronunciations). The model was then used to synthesise all suttas into mp3 audio. The 2021 VITS TTS model architecture was used to train a model with a custom corpus. There are several known inference issues with the trained model and the resultant mp3 files. These mp3 files are the best results that we could achieve using an open-source technology stack that was available to me as of mid 2023.</p>
<h3 id="why-did-you-only-use-suttas-from-dhammatalks-org-">Why did you only use suttas from dhammatalks.org?</h3>
<p>I have the highest level of conviction in Ajaan Geoff. He is my foremost preceptor and in 2012, he invited me to spend the rains with him and practise Dhamma in accordance with Dhamma at Wat Metta. In my view there are no other English translations of suttas that have made me come to an agreement through pondering views as those authored with his consistency, meticulous choice of words and expression.</p>
<h3 id="why-did-you-build-this-">Why did you build this?</h3>
<p>In 2019, we went on a wandering tour around the coastline of Australia with just a car, tents, mini wood-fire camp stove and basic food items. We free camped and accepted shelter and water from shires and individuals to stay and wash. In Sept 2023, we will go forth again. This time, no car, no tent, no sleeping bag, no food; just a backpack of light clothing to battle the inclemencies of weather - just as a bird has its wings as its only burden. This time, we relinquish all sensual possessions and live dependent on the generosity of others. When one relinquishes, a gap is created. When a gap is created, in time it gets refilled. My determination is to fill the gap with heightened mind and heightened discernment. To achieve this we need to continuously attend appropriately to an admirable voice of another. Hence, these suttas will play while we walk, sit, eat, urinate &amp; defecate with the purpose of eroding craving as our companion.</p>
<h3 id="how-do-you-recommend-people-use-this-player-">How do you recommend people use this player?</h3>
<ol>
<li>Seclude the body from as much sensory contact as possible (ie. reduction in obstructive physical variables)</li>
<li>Subdue the five hindrances (ie. reduction in obstructive mental variables)</li>
<li>Prepare the player:<ul>
<li>(a) Select the collection and sutta starting point</li>
<li>(b) Select auto-play &amp; play-next mode</li>
<li>(c) Press load audio and starting lending-an-ear</li>
</ul>
</li>
<li>Whilst in concentration, attend to the messages in the sutta by:<ul>
<li>(a) Dropping any existing views and perceptions on the topic as they arise in the mind</li>
<li>(b) Establish new or revised perceptions (ie. words/images) that are devoid of your typical biases and preferences in line with the message</li>
<li>(c) Note your resistance, restlessness and doubts as they arise, persist and subside</li>
<li>(d) Continue to fabricate to calm the body and still the mind</li>
</ul>
</li>
<li>Stop the player and make a commitment to yourself to attend more frequently and more often to this practice of training the mind</li>
</ol>
<h3 id="why-don-t-you-ordain-and-or-stay-in-a-monastery-">Why don&#39;t you ordain and/or stay in a monastery?</h3>
<p>Ordination is not a requisite condition for release. Whether you are living at home, living in a monastery or living in the wilderness, the mind is still defiled. The problem is neither about status, acknowledgement, comfort nor about place. The problem is about one&#39;s lack of development of the mind! Therefore, gain a sense of oneself and go wherever and do whatever you can to take delight in developing skillful qualities and abandoning unskillful qualities.</p>
<h3 id="why-don-t-you-try-fundraising-to-sponser-your-requisites-and-practice-">Why don&#39;t you try fundraising to sponser your requisites and practice?</h3>
<p>&#39;Monks, gains, offerings, &amp; fame are a cruel thing, a harsh, bitter obstacle to the attainment of the unexcelled rest from bondage.&#39; - Saṁyutta Nikāya 17:3</p>
<p>Our goal is to attend to the four duties, complete the task and fade into obscurity. The footprints that we leave behind serve as an example for later generations to follow.</p>
<h3 id="what-is-your-favourite-quote-from-the-pali-canon-">What is your favourite quote from the Pali Canon?</h3>
<p>&#39;You, too, monks, should relentlessly exert yourselves, (thinking,) &#39;Gladly would we let the flesh &amp; blood in our bodies dry up, leaving just the skin, tendons, &amp; bones, but if we have not attained what can be reached through manly firmness, manly persistence, manly striving, there will be no relaxing our persistence.&#39; - Aṅguttara Nikāya 2:5</p>
<h3 id="do-you-accept-dana-can-we-discuss-dhamma-and-or-mediate-with-you-">Do you accept Dana, can we discuss Dhamma and/or mediate with you?</h3>
<p>Yes. It is a Dhutaṅga tradition to bypass no donors no matter who you are, how much/little you offer, what you eat or where you are. Keep in mind that when fit we are capable of walking no more than 40km per day. We accept 1 meal (no food restrictions/preferences) per day. We accept lodging in a garage, shed or yard, otherwise we meditate and take our 4hrs rest in public parks. We accept access to either manual/automated clothes washing and drying mechanisms. We accept access to body showering facilities.</p>
<p>Yes. You may discuss any topic (sensual/divine/leading out) with us because it is all underpinned by Dhamma. It is through discussion (ie. verbal fabrication) that you end the bewilderment, stop the search and begin purifying your mind, purifying your views, overcoming perplexity, gaining clarity of what is and isn&#39;t the path and discerning the way.</p>
<p>Yes. You may meditate with us which may or may not include a spontaneous Dhamma talk dependent on what I have observed and what occurs the my mind. </p>
<hr>
<h3 id="final-words">Final words</h3>
<p>This sutta player was developed in honor of Upāsikā Juls. You, over a long course of time have settled and helped establish me in conviction, persistence, mindfulness, concentration and discernment. There is no greater gratitude that I can express to you other than the commitment to complete this practise - heedful, ardent and resolute.</p>
<p>May, any merit gained from any individuals that benefit from this sutta player be dedicated to both Ajaan Geoff and Upāsikā Juls.</p>
<p>May you all discover the causes for true-and-lasting-happiness and act on them!</p>
<p>Upāsaka Ash [Ashin Wimalajeewa] &amp; Upāsikā Juls</p>
