<tr id="$ROW.trackRsltHdrSrchPgTr" data-tr-type="head" data-row="$ROW" data-cols="$COLS" data-checked="0" class="border-b dark:border-gray-700">
    <td class="w-2 p-2">
        <button id="$ROW.trackRsltHdrSrchPgBtn" data-btn-state="+" 
            class="inline-flex flex-shrink-0 items-center rounded border border-gray-300 bg-gray-100 hover:bg-gray-200 dark:border-gray-600 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
            <svg class="h-5 w-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
            </svg>
        </button>
    </td>
    <td class="px-3 py-3">$TITLE</td>
    <td class="px-3 py-3">
        <div class="flex items-center">
            <span data-cache-flag-trackref="$TRACKREF" class="flex h-3 w-3 rounded-full $CACHE_STATUS_COLOR"></span>
            &nbsp;$TRACKREF
        </div>
    </td>
    <td class="px-3 py-3">$DURmin</td>
</tr>